body {
    background-color: rgb(245,245,245);
    color: rgb(60,60,60);
    font-size: 1.5em;
}

body,
input,
button {
    font-family: 'Helvetica';
}

h1 {
    color: rgb(239,213,213);
    text-align: center;
    font-size: 5rem;
    margin: 10px;
}

.container {
    width: 500px;
    margin: 0 auto;
    background-color: rgb(255,255,255);
}