$color-white: rgb(255,255,255);
$color-secondary: rgb(239,213,213);
$color-background:  rgb(245,245,245);
$color-text: rgb(60,60,60);
$color-text-secondary: rgb(120, 120, 120);
$color-text-completed: rgb(200,200,200);
$color-border: rgb(237,237,237);